python-dotenv
pandas
numpy
tiktoken
nltk
matplotlib
plotly
pypdf
scikit-learn
sentence-transformers
faiss-cpu
rank_bm25
jq
langchain
langchain-community
langchain-core
langchain-groq
langchain_huggingface
langchain-classic
langgraph
streamlit
fpdf2
reportlab
librosa
SpeechRecognition
textblob
soundfile
streamlit-audiorec
prefect
fastapi==0.104.1
uvicorn==0.23.2
pydantic==2.5.0