fastapi
uvicorn
pydantic
python-multipart

python-dotenv
pandas
numpy
tiktoken
nltk
matplotlib
plotly
pypdf
scikit-learn
sentence-transformers
faiss-cpu
rank_bm25
jq
langchain
langchain-community
langchain-core
langchain-groq
langchain_huggingface
langchain-classic
langgraph
streamlit
fpdf2
reportlab
librosa
SpeechRecognition
textblob
soundfile
streamlit-audiorec
prefect
